#u69
{
	border-style: none;
	border-color: transparent;
	background-color: #DBF8FF;
	position: fixed;
}

#U6939_animation
{
	border: none;
}

#u5907
{
	border-style: none;
	border-color: transparent;
	position: fixed;
	background: transparent url("../images/logo-u5907-fr.png") no-repeat center center;
	background-size: contain;
}

#u5907::before
{
	box-shadow: none;
}

.hidpi #u5907
{
	background-image: url("../images/logo-u5907-fr_2x.png");
}

#menuu5908
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u5924
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5927-4
{
	border-color: #27889E;
	background-color: transparent;
	color: #FEF6D7;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5933
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5935-4
{
	border-color: #27889E;
	background-color: transparent;
	color: #FEF6D7;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5912
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5915-4
{
	border-color: #27889E;
	background-color: transparent;
	color: #FEF6D7;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5923,#u5930,#u5909,#u5916
{
	background-color: transparent;
	position: relative;
}

#u5919
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5924.MuseMenuActive,#u5933.MuseMenuActive,#u5912.MuseMenuActive,#u5919.MuseMenuActive
{
	border-color: #27889E;
}

#u5922-4
{
	border-color: #27889E;
	background-color: transparent;
	color: #FEF6D7;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5924.MuseMenuActive #u5927-4,#u5933.MuseMenuActive #u5935-4,#u5912.MuseMenuActive #u5915-4,#u5919.MuseMenuActive #u5922-4
{
	border-style: solid;
	border-color: #FEF6D7;
	border-width: 0px 0px 0px 1px;
}

#u5924.MuseMenuActive #u5927-4 p,#u5933.MuseMenuActive #u5935-4 p,#u5912.MuseMenuActive #u5915-4 p,#u5919.MuseMenuActive #u5922-4 p
{
	color: #FEF6D7;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u120
{
	background: -webkit-gradient(linear, center top, center bottom, from(#62C6DD),color-stop(100%, #27889E));
	background: -webkit-linear-gradient(top,#62C6DD ,#27889E 100%);
	background: linear-gradient(to bottom,#62C6DD ,#27889E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF62C6DD, endColorstr=#FF27889E, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF62C6DD', endColorstr='#FF27889E', GradientType=0)";
	border-style: none;
	border-color: transparent;
}

#u168
{
	border-style: none;
	border-color: transparent;
	position: fixed;
	background: transparent url("../images/footersand.png") repeat-x center top;
}

