#u2847
{
	border-style: none;
	border-color: transparent;
	background-color: #DBF8FF;
	position: fixed;
}

#U6938_animation
{
	border: none;
}

#u2848
{
	background: -webkit-gradient(linear, center top, center bottom, from(#62C6DD),color-stop(100%, #27889E));
	background: -webkit-linear-gradient(top,#62C6DD ,#27889E 100%);
	background: linear-gradient(to bottom,#62C6DD ,#27889E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF62C6DD, endColorstr=#FF27889E, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF62C6DD', endColorstr='#FF27889E', GradientType=0)";
	border-style: none;
	border-color: transparent;
}

#u3033,#u3035,#u3037
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u2858
{
	border-style: none;
	border-color: transparent;
	position: fixed;
	background: transparent url("../images/footersand.png") repeat-x center top;
}

#u3039
{
	vertical-align: top;
	position: fixed;
	background: url("../images/logo-u3039.png") no-repeat 0px 0px;
}

.hidpi #u3039
{
	background-image: url("../images/logo-u3039_2x.png");
	background-size: 106px 48px;
}

#u3040-4
{
	background-color: transparent;
	line-height: 14px;
	color: #27889E;
	text-align: left;
	font-size: 12px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
}

#u3040
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

