.body-text,.h2
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u7013-4
{
	font-family: slackey-n4, sans-serif;
}

#u7027-4
{
	font-family: slackey-n4, sans-serif;
}

#u7021-4
{
	font-family: slackey-n4, sans-serif;
}

#u7048-11,#u7048-2,#u7048-5,#u7048-8,#u7049-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u7048,#u7048-4,#u7048-7,#u7049
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u7303-4,#u7307-4
{
	font-family: wellfleet-n4, serif;
}

#u7304-5,#u7308-5
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u7304,#u7312-2,#u7312-5,#u7320-2,#u7320-5,#u7316-2,#u7316-5,#u7322-2,#u7322-4,#u7322-5
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u7305-4,#u7312-4,#u7312-7,#u7320-4,#u7320-7,#u7316-4,#u7316-7,#u7322-7,#u7306-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

