.version.index /* version checker */
{
	color: #0000EA;
	background-color: #F337E5;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #DBF8FF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1020.5990644386634px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -13px;
	padding-top: 112px;
	width: 0.01px;
}

#pamphletu7005
{
	z-index: 2;
	width: 0.01px;
	height: 47px;
	padding-bottom: 61px;
	top: 0px;
	left: -1px;
}

#u7006popup
{
	z-index: 3;
}

#u7006
{
	width: 381px;
	top: 55px;
}

#u7007
{
	z-index: 4;
	width: 381px;
	height: 52px;
	margin-right: -10000px;
}

#pu7030
{
	z-index: 5;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 1px;
}

#u7030
{
	z-index: 0;
	width: 380px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pmenuu7008
{
	width: 0.01px;
	position: relative;
	left: 29px;
	padding-top: 10px;
	z-index: 2;
	padding-bottom: 7px;
}

#menuu7008
{
	z-index: 6;
	width: 320px;
	margin-right: -10000px;
}

#u7009
{
	width: 106px;
	min-height: 33px;
	margin-right: -10000px;
}

#u7010
{
	width: 106px;
	padding-bottom: 12px;
}

#u7010.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u7013-4
{
	width: 49px;
	min-height: 17px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-right: -10000px;
	top: 6px;
	left: 28px;
}

#u7010.MuseMenuActive #u7013-4
{
	padding-top: 2px;
	padding-bottom: 2px;
	min-height: 17px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u7023
{
	width: 101px;
	min-height: 33px;
	margin-right: -10000px;
	left: 108px;
}

#u7024
{
	width: 101px;
	padding-bottom: 12px;
}

#u7024.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u7027-4
{
	width: 45px;
	min-height: 17px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-right: -10000px;
	top: 6px;
	left: 28px;
}

#u7024.MuseMenuActive #u7027-4
{
	padding-top: 2px;
	padding-bottom: 2px;
	min-height: 17px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u7016
{
	width: 109px;
	min-height: 33px;
	margin-right: -10000px;
	left: 211px;
}

#u7019
{
	width: 109px;
	padding-bottom: 12px;
}

#u7019.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u7021-4
{
	width: 53px;
	min-height: 17px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-right: -10000px;
	top: 6px;
	left: 28px;
}

#u7019.MuseMenuActive #u7021-4
{
	padding-top: 2px;
	padding-bottom: 2px;
	min-height: 17px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u7035
{
	z-index: 25;
	width: 320px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 31px;
}

#u7036
{
	width: 380px;
	padding-bottom: 9px;
	top: -9px;
	left: -30px;
}

#u7036.PamphletThumbSelected
{
	width: 380px;
	min-height: 0px;
	margin: 0px;
}

#u7037
{
	z-index: 31;
	width: 179px;
	height: 38px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 30px;
}

#u7036.PamphletThumbSelected #u7037
{
	width: 179px;
	height: 38px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#u7038
{
	z-index: 27;
	width: 23px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 327px;
}

#u7039
{
	z-index: 28;
	width: 23px;
	height: 6px;
}

#u7041
{
	z-index: 29;
	width: 23px;
	height: 6px;
	margin-top: 3px;
}

#u7040
{
	z-index: 30;
	width: 23px;
	height: 6px;
	margin-top: 2px;
}

#pu7105-4
{
	width: 0.01px;
	margin-left: 30px;
}

#u7105-4
{
	z-index: 70;
	width: 320px;
	min-height: 80px;
	background-color: transparent;
	line-height: 72px;
	color: #62C6DD;
	text-align: left;
	font-size: 60px;
	font-family: wellfleet, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
}

#u7106-4
{
	z-index: 74;
	width: 320px;
	min-height: 45px;
	background-color: transparent;
	line-height: 29px;
	color: #62C6DD;
	text-align: left;
	font-size: 24px;
	font-family: wellfleet, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u7045
{
	z-index: 33;
	width: 2560px;
	height: 260px;
	top: 186px;
	left: -1090px;
}

#U7046_animation
{
	width: 2560px;
	height: 260px;
}

#pu7104-4
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: -8px;
}

#u7104-4
{
	z-index: 66;
	width: 320px;
	min-height: 41px;
	background-color: transparent;
	line-height: 29px;
	color: #62C6DD;
	text-align: left;
	font-size: 24px;
	font-family: wellfleet, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u7107-4
{
	z-index: 78;
	width: 320px;
	min-height: 119px;
	background-color: transparent;
	line-height: 72px;
	color: #62C6DD;
	text-align: left;
	font-size: 60px;
	font-family: wellfleet, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#pamphletu7090
{
	z-index: 56;
	width: 0.01px;
	height: 258px;
	position: fixed;
	top: 305px;
	left: 177px;
}

#u7095
{
	position: absolute;
	width: 125px;
}

#u7095popup
{
	z-index: 57;
}

#u7096
{
	z-index: 58;
	width: 125px;
	height: 45px;
	border-color: #999999;
	background-color: #E9FAFF;
	background-color: rgba(219,248,255,0.6);
	border-radius: 100px 100px 0px 100px ;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(219,248,255,0.6);
}

#u7097-4
{
	z-index: 59;
	width: 98px;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: wellfleet, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 19px;
}

#u7098
{
	z-index: 63;
	width: 195px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 75px;
}

#u7099
{
	position: absolute;
	width: 195px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
}

#u7099.PamphletThumbSelected
{
	width: 195px;
	min-height: 0px;
	margin: 0px;
}

#u7100
{
	z-index: 65;
	width: 195px;
	height: 239px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#U7103_animation
{
	width: 195px;
	height: 239px;
	border: none;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u7108-4
{
	z-index: 82;
	width: 320px;
	min-height: 297px;
	background-color: transparent;
	line-height: 43px;
	color: #FEF6D7;
	font-size: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	margin-left: 30px;
	margin-top: 54px;
	position: relative;
}

#u7044
{
	z-index: 32;
	height: 437px;
}

#u7044-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 32;
	top: 446px;
}

#u7109-4
{
	z-index: 86;
	width: 326px;
	min-height: 210px;
	background-color: transparent;
	line-height: 32px;
	color: #FEF6D7;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-left: 30px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u7047
{
	z-index: 34;
	min-height: 180.80000000000007px;
	padding: 25px 40px 19.199999999999932px 42px;
}

#u7048-11
{
	z-index: 35;
	width: 298px;
	min-height: 71px;
}

#pu7050
{
	width: 0.01px;
	margin-left: 106px;
	margin-top: 17px;
	position: relative;
}

#u7050
{
	z-index: 50;
	margin-right: -10000px;
}

#u7052
{
	z-index: 52;
	margin-right: -10000px;
	left: 30px;
}

#u7054
{
	z-index: 54;
	margin-right: -10000px;
	left: 59px;
}

#u7049-4
{
	z-index: 46;
	width: 298px;
	min-height: 27px;
	margin-top: 42px;
}

#u7047-bw
{
	z-index: 34;
	min-height: 180.80000000000007px;
	margin-top: 1px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

