#pamphletu7005
{
	position: fixed;
}

#u7006
{
	position: absolute;
	background-color: transparent;
}

#u7030
{
	border-style: none;
	border-color: transparent;
	background-color: #FEF6D7;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#u7007,#menuu7008,#u7010
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7013-4
{
	border-color: #27889E;
	background-color: transparent;
	color: #27889E;
	text-align: center;
	font-family: slackey, sans-serif;
	font-weight: 400;
	position: relative;
}

#u7024
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7027-4
{
	border-color: #27889E;
	background-color: transparent;
	color: #27889E;
	text-align: center;
	font-family: slackey, sans-serif;
	font-weight: 400;
	position: relative;
}

#u7009,#u7023,#u7016
{
	background-color: transparent;
	position: relative;
}

#u7019
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7021-4
{
	border-color: #27889E;
	background-color: transparent;
	color: #27889E;
	text-align: center;
	font-family: slackey, sans-serif;
	font-weight: 400;
	position: relative;
}

#u7035
{
	position: relative;
}

#u7036
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #DBF8FF;
}

#u7037
{
	border-color: #000000;
	position: relative;
	background: transparent url("../../images/logo-u7037-fr.png") no-repeat left top;
	background-size: contain;
}

#u7036.PamphletThumbSelected #u7037
{
	background-repeat: no-repeat;
	background-position: left top;
	background-size: contain;
}

.hidpi #u7037
{
	background-image: url("../../images/logo-u7037-fr_2x.png");
}

#u7038
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7039,#u7041,#u7040
{
	border-style: none;
	border-color: transparent;
	background-color: #27889E;
	position: relative;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u7045
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#U7046_animation
{
	border: none;
}

#u7044
{
	background: -webkit-gradient(linear, center top, center bottom, from(#62C6DD),color-stop(100%, #27889E));
	background: -webkit-linear-gradient(top,#62C6DD ,#27889E 100%);
	background: linear-gradient(to bottom,#62C6DD ,#27889E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF62C6DD, endColorstr=#FF27889E, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF62C6DD', endColorstr='#FF27889E', GradientType=0)";
	border-style: none;
	border-color: transparent;
}

#u7047
{
	border-color: #000000;
	background-color: #664E38;
}

#u7048-11
{
	background-color: transparent;
	line-height: 22px;
	color: #FEF6D7;
	text-align: left;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u7048,#u7048-4,#u7048-7
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
}

#u7050,#u7052,#u7054
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u7049-4
{
	background-color: transparent;
	line-height: 14px;
	color: #FEF6D7;
	text-align: center;
	font-size: 12px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u7048-2,#u7048-5,#u7048-8,#u7049
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

