.version.work /* version checker */
{
	color: #0000E3;
	background-color: #26B757;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #DBF8FF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 896.9999999999995px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -14px;
	padding-top: 71px;
	width: 0.01px;
}

#pamphletu7005
{
	z-index: 2;
	width: 0.01px;
	height: 47px;
	padding-bottom: 61px;
	top: 0px;
	left: -1px;
}

#u7006popup
{
	z-index: 3;
}

#u7006
{
	width: 381px;
	top: 55px;
}

#u7007
{
	z-index: 4;
	width: 381px;
	height: 52px;
	margin-right: -10000px;
}

#pu7030
{
	z-index: 5;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 1px;
}

#u7030
{
	z-index: 0;
	width: 380px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pmenuu7008
{
	width: 0.01px;
	position: relative;
	left: 29px;
	padding-top: 10px;
	z-index: 2;
	padding-bottom: 7px;
}

#menuu7008
{
	z-index: 6;
	width: 320px;
	margin-right: -10000px;
}

#u7009
{
	width: 106px;
	min-height: 33px;
	margin-right: -10000px;
}

#u7010
{
	width: 106px;
	padding-bottom: 12px;
}

#u7010.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u7013-4
{
	width: 49px;
	min-height: 17px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-right: -10000px;
	top: 6px;
	left: 28px;
}

#u7010.MuseMenuActive #u7013-4
{
	padding-top: 2px;
	padding-bottom: 2px;
	min-height: 17px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u7023
{
	width: 101px;
	min-height: 33px;
	margin-right: -10000px;
	left: 108px;
}

#u7024
{
	width: 101px;
	padding-bottom: 12px;
}

#u7024.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u7027-4
{
	width: 45px;
	min-height: 17px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-right: -10000px;
	top: 6px;
	left: 28px;
}

#u7024.MuseMenuActive #u7027-4
{
	padding-top: 2px;
	padding-bottom: 2px;
	min-height: 17px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u7016
{
	width: 109px;
	min-height: 33px;
	margin-right: -10000px;
	left: 211px;
}

#u7019
{
	width: 109px;
	padding-bottom: 12px;
}

#u7019.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u7021-4
{
	width: 53px;
	min-height: 17px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-right: -10000px;
	top: 6px;
	left: 28px;
}

#u7019.MuseMenuActive #u7021-4
{
	padding-top: 2px;
	padding-bottom: 2px;
	min-height: 17px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u7035
{
	z-index: 25;
	width: 320px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 31px;
}

#u7036
{
	width: 380px;
	padding-bottom: 9px;
	top: -9px;
	left: -30px;
}

#u7036.PamphletThumbSelected
{
	width: 380px;
	min-height: 0px;
	margin: 0px;
}

#u7037
{
	z-index: 31;
	width: 179px;
	height: 38px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 30px;
}

#u7036.PamphletThumbSelected #u7037
{
	width: 179px;
	height: 38px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#u7038
{
	z-index: 27;
	width: 23px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 327px;
}

#u7039
{
	z-index: 28;
	width: 23px;
	height: 6px;
}

#u7041
{
	z-index: 29;
	width: 23px;
	height: 6px;
	margin-top: 3px;
}

#u7040
{
	z-index: 30;
	width: 23px;
	height: 6px;
	margin-top: 2px;
}

#pu7141
{
	width: 0.01px;
	margin-left: 16px;
}

#u7141
{
	z-index: 56;
	width: 347px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu7144
{
	width: 0.01px;
	margin-right: -10000px;
}

#u7144
{
	z-index: 57;
	width: 268px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 39px;
}

#u7144::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 0px 0px 250px #FEF6D7, inset 0px 0px 250px #FEF6D7;
}

#u7143
{
	z-index: 59;
	vertical-align: top;
	width: 40px;
	height: 101px;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/ribbontail2-u7143.png") no-repeat 0px 0px;
}

.hidpi #u7143
{
	background-image: url("../../images/ribbontail2-u7143_2x.png");
	background-size: 40px 101px;
}

#u7142
{
	z-index: 58;
	vertical-align: top;
	width: 40px;
	height: 101px;
	position: relative;
	margin-right: -10000px;
	left: 307px;
	background: url("../../images/ribbontail-u7142.png") no-repeat 0px 0px;
}

.hidpi #u7142
{
	background-image: url("../../images/ribbontail-u7142_2x.png");
	background-size: 40px 101px;
}

#u7145-4
{
	z-index: 60;
	width: 211px;
	min-height: 80px;
	background-color: transparent;
	line-height: 72px;
	color: #664E38;
	text-align: center;
	font-size: 60px;
	font-family: wellfleet, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 70px;
}

#u7045
{
	z-index: 33;
	width: 2560px;
	height: 260px;
	top: 186px;
	left: -1090px;
}

#U7046_animation
{
	width: 2560px;
	height: 260px;
}

#slideshowu7146
{
	z-index: 64;
	width: 0.01px;
	height: 331px;
	margin-left: 30px;
	margin-top: 53px;
	position: relative;
}

#u7185
{
	position: absolute;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 23px;
}

#u7185popup
{
	z-index: 65;
}

#u7940
{
	z-index: 66;
	width: 155px;
	height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7982
{
	z-index: 68;
	width: 155px;
	height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 165px;
}

#u7940:hover,#u7982:hover
{
	width: 155px;
	height: 96px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7991
{
	z-index: 70;
	width: 155px;
	height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
}

#u7949
{
	z-index: 72;
	width: 155px;
	height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 165px;
}

#u7991:hover,#u7949:hover
{
	width: 155px;
	height: 96px;
	min-height: 0px;
	margin: 106px -10000px 0px 0px;
}

#u7958
{
	z-index: 74;
	width: 155px;
	height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
}

#u7967
{
	z-index: 76;
	width: 155px;
	height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 165px;
}

#u7958:hover,#u7967:hover
{
	width: 155px;
	height: 96px;
	min-height: 0px;
	margin: 212px -10000px 0px 0px;
}

#u7150
{
	position: absolute;
	width: 371px;
	height: 460px;
	border-style: none;
	border-color: transparent;
	background-color: #664E38;
	top: -26px;
	left: -26px;
}

#u7150popup
{
	z-index: 78;
}

#u7943
{
	z-index: 79;
	width: 327px;
	height: 398px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7985
{
	z-index: 81;
	width: 327px;
	height: 398px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7994
{
	z-index: 83;
	width: 327px;
	height: 398px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7952
{
	z-index: 85;
	width: 327px;
	height: 398px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7961
{
	z-index: 87;
	width: 327px;
	height: 398px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7970
{
	z-index: 89;
	width: 327px;
	height: 398px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7943_img,#u7985_img,#u7994_img,#u7952_img,#u7961_img,#u7970_img
{
	padding-top: 98px;
	padding-bottom: 98px;
}

#u7218
{
	position: absolute;
	width: 325px;
	background-color: transparent;
	top: 302px;
	left: -5px;
}

#u7218popup
{
	z-index: 91;
}

#u7946-4
{
	z-index: 92;
	width: 325px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #664E38;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u7988-4
{
	z-index: 96;
	width: 325px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #664E38;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u7997-4
{
	z-index: 100;
	width: 325px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #664E38;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u7955-4
{
	z-index: 104;
	width: 325px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #664E38;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u7964-4
{
	z-index: 108;
	width: 325px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #664E38;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u7973-4
{
	z-index: 112;
	width: 325px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #664E38;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u7183-3
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	line-height: 20px;
	color: #664E38;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	top: -41px;
	left: 92px;
	background: transparent url("../../images/icon-prev-u7183-3-fr.png") no-repeat center center;
	background-size: contain;
}

#u7183-3popup
{
	z-index: 116;
}

.hidpi #u7183-3
{
	background-image: url("../../images/icon-prev-u7183-3-fr_2x.png");
}

#u7235-3
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	line-height: 20px;
	color: #664E38;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	top: -41px;
	left: 193px;
	background: transparent url("../../images/icon-next.png") no-repeat center center;
	background-size: contain;
}

#u7235-3popup
{
	z-index: 119;
}

.hidpi #u7235-3
{
	background-image: url("../../images/icon-next_2x.png");
}

#u7148
{
	position: absolute;
	width: 30px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	border-radius: 100px;
	top: -41px;
	left: 142px;
	background: transparent url("../../images/icon-close.png") no-repeat center center;
	background-size: contain;
}

#u7148:hover
{
	width: 30px;
	height: 30px;
	min-height: 0px;
	margin: 0px;
	background: #999999 url("../../images/icon-close.png") no-repeat center center;
	background-size: contain;
}

#u7148:active
{
	width: 30px;
	height: 30px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../../images/icon-close.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u7148,.hidpi #u7148:hover,.hidpi #u7148:active
{
	background-image: url("../../images/icon-close_2x.png");
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u7044
{
	z-index: 32;
	height: 437px;
}

#u7044-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 32;
	top: 446px;
}

#u7047
{
	z-index: 34;
	min-height: 180.79999999999984px;
	padding: 25px 40px 19.20000000000016px 42px;
}

#u7048-11
{
	z-index: 35;
	width: 298px;
	min-height: 71px;
}

#pu7050
{
	width: 0.01px;
	margin-left: 106px;
	margin-top: 17px;
	position: relative;
}

#u7050
{
	z-index: 50;
	margin-right: -10000px;
}

#u7052
{
	z-index: 52;
	margin-right: -10000px;
	left: 30px;
}

#u7054
{
	z-index: 54;
	margin-right: -10000px;
	left: 59px;
}

#u7049-4
{
	z-index: 46;
	width: 298px;
	min-height: 27px;
	margin-top: 42px;
}

#u7047-bw
{
	z-index: 34;
	min-height: 180.79999999999984px;
	margin-top: 329px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

