#u6003
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/logo.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u6003
{
	background-image: url("../../images/logo_2x.png");
}

#menuu6004,#u6020
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6023-4
{
	border-color: #27889E;
	background-color: transparent;
	color: #27889E;
	text-align: center;
	font-family: slackey, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6027
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6030-4
{
	border-color: #27889E;
	background-color: transparent;
	color: #27889E;
	text-align: center;
	font-family: slackey, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6015
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6016-4
{
	border-color: #27889E;
	background-color: transparent;
	color: #27889E;
	text-align: center;
	font-family: slackey, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6006
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6007-4
{
	border-color: #27889E;
	background-color: transparent;
	color: #27889E;
	text-align: center;
	font-family: slackey, sans-serif;
	font-weight: 400;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u6002
{
	border-color: #000000;
	background-color: #DBF8FF;
}

#u6033
{
	border-style: none;
	border-color: transparent;
	position: fixed;
	background: transparent url("../../images/logo-u6033-fr.png") no-repeat center center;
	background-size: contain;
}

#u6003::before,#u6033::before
{
	box-shadow: none;
}

.hidpi #u6033
{
	background-image: url("../../images/logo-u6033-fr_2x.png");
}

#u6039
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6042-4
{
	border-color: #27889E;
	background-color: transparent;
	line-height: 12px;
	color: #27889E;
	text-align: left;
	font-size: 10px;
	font-family: slackey, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6058
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6060-4
{
	border-color: #27889E;
	background-color: transparent;
	line-height: 12px;
	color: #27889E;
	text-align: left;
	font-size: 10px;
	font-family: slackey, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6053
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6056-4
{
	border-color: #27889E;
	background-color: transparent;
	line-height: 12px;
	color: #27889E;
	text-align: left;
	font-size: 10px;
	font-family: slackey, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6019,#u6026,#u6012,#u6005,#u6036,#u6057,#u6050,#u6043
{
	background-color: transparent;
	position: relative;
}

#u6044
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6045-4
{
	border-color: #27889E;
	background-color: transparent;
	line-height: 12px;
	color: #27889E;
	text-align: left;
	font-size: 10px;
	font-family: slackey, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6039.MuseMenuActive #u6042-4,#u6058.MuseMenuActive #u6060-4,#u6053.MuseMenuActive #u6056-4,#u6044.MuseMenuActive #u6045-4
{
	border-color: #FBB03B;
}

#menuu6035,#u6001
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#U6933_animation
{
	border: none;
}

#u6000
{
	background: -webkit-gradient(linear, center top, center bottom, from(#62C6DD),color-stop(100%, #27889E));
	background: -webkit-linear-gradient(top,#62C6DD ,#27889E 100%);
	background: linear-gradient(to bottom,#62C6DD ,#27889E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF62C6DD, endColorstr=#FF27889E, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF62C6DD', endColorstr='#FF27889E', GradientType=0)";
	border-style: none;
	border-color: transparent;
}

